{% load static %}
 {% load mptt_tags %}

<div class="slider-with-banner">
                <div class="container">
                    <div class="row">
                        <!-- Begin Category Menu Area -->
                        <div class="col-lg-3">
                            <!--Category Menu Start-->
                            <div class="category-menu">
                                <div class="category-heading">
                                    <h2 class="categories-toggle"><span>categories</span></h2>
                                </div>                         
                        <div id="cate-toggle" class="category-menu-list">
                            <ul>                                
                               {% for item in request.session.mainM %}
                                    <li class="right-menu"><a href="{%url 'Stores:category_product' id=item.id slug=item.slug %}">{{ item.title }}</a>
                                        <ul class="cat-mega-menu">
                                            {% for  value in  request.session.submenu %} 
                                            {% if  value.category == item.id %} 
                                                <li class="right-menu cat-mega-title">
                                                    <a href="{%url 'Stores:category_product' id=value.id slug=value.slug %}">{{ value.title }}</a>
                                                        <ul>
                                                             {% for  mini in  request.session.minimenu %} 
                                                                {% if  mini.subcategory == value.id %}
                                                                <li><a href="{%url 'Stores:category_product' id=mini.id slug=mini.slug %}">{{mini.title}}</a></li>
                                                                {% endif %}
                                                             {% endfor %}
                                                        </ul>
                                                </li>
                                             {% endif %}
                                             {% endfor %}  
                                        </ul> 
                                    </li>   
                                {% endfor %}                                     
                            </ul>
                                
                        </div> 
                </div>   


                            <!--Category Menu End-->  
                        </div>
                        <!-- Category Menu Area End Here -->
                        <!-- Begin Slider Area -->
                        <div class="col-lg-9">
                            <div class="slider-area pt-sm-30 pt-xs-30">
                                <div class="slider-active owl-carousel">
                                    <!-- Begin Single Slide Area -->
                                    {% for top_banner in top_banners %}
                                    <div class="single-slide align-center-left animation-style-0{{top_banner.id}} bg-{{top_banner.id}}">
                                        <img src="{{top_banner.ImageUrl}}" alt="placeholder+image">    
                                    <div class="slider-progress"></div>
                                        <div class="slider-content">
                                            <h5>{{top_banner.title}}<span></span> This Week</h5>
                                            <h2>{{top_banner.header}}</h2>
                                            <h3><span>{{top_banner.description}}</span></h3>
                                            <div class="default-btn slide-btn">
                                                <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!-- Single Slide Area End Here -->                                   
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Slider Area End Here -->
                    </div>
                </div>
            </div>