{% load static %}
      {% include 'basetemplates/biginslider.html' %}
      
      <!-- Product Area End Here -->
      {% include 'basetemplates/product_display.html' %} 
      <!-- Begin Li's Static Banner Area -->
      {% include 'basetemplates/static-banner.html' %}  
      <!-- Li's Static Banner Area End Here -->
      <!-- Begin Li's Laptop Product Area -->
      {% include 'basetemplates/product_display2.html' %} 
      <!-- Li's Laptop Product Area End Here -->
      <!-- Begin Li's TV & Audio Product Area -->

      <!-- Li's TV & Audio Product Area End Here -->
      <!-- Begin Li's Static Home Area -->
      {% include 'basetemplates/static-wide-add.html' %}
      <!-- Li's Static Home Area End Here -->
      <!-- Begin Li's Trending Product Area -->
      {% include 'basetemplates/product_display2.html' %} 
      <!-- Li's Trending Product Area End Here -->
      {% include 'basetemplates/static-banner.html' %} 
      <!-- Begin Li's Trendding Products Area -->
      {% include 'basetemplates/product_display2.html' %} 
      <!-- Li's Trendding Products Area End Here -->